{% extends 'base.html' %}
{% block title %}
    Register Page
{% endblock %}

{% block content %}
<body >
    <div class="container col-md-4 h-100">
        <form method="POST" class="form-signin" style="color:white; max-width: 400px; margin: auto;">
            {{ form.hidden_tag() }}
            <div class="container text-center justify-content-center">
                <img class="mb-0" src="{{ url_for('static', filename='todo_logo.png') }}" alt="" width="84" height="84">
                <h1 class="h3 mb-3 font-weight-normal">
                    Please Login
                </h1>
            </div>
            <div class="mb-3">
                <label for="inputEmail" class="form-label text-left">{{ form.email.label() }}</label>
                {{ form.email(class="form-control", placeholder="Email") }}
            </div>
            <div class="mb-3">
                <label for="inputPassword" class="form-label text-left">{{ form.password.label() }}</label>
                {{ form.password(class="form-control", placeholder="Password") }}
            </div>
            <div class="d-flex justify-content-between align-items-center">
                <div class="checkbox d-flex ">
                    <h6>Do not have an account?</h6>
                </div>
                <a class="btn btn-sm btn-secondary m-1" href="{{ url_for('register_user') }}">Register</a>
            </div>
            <div class="container text-center justify-content-center">
                {{ form.submit(class="btn btn-lg btn-block btn-primary") }}
            </div>
        </form>
    </div>
</body>
{% endblock %}
